.password-item {
  list-style-type: none;
  margin-right: 15px;
}
.password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px #94a3b8 solid;
  border-radius: 10px;
  padding: 5px;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
  flex-shrink: 0;
}
.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 0;
}
.website-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
.user-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.image {
  height: 20px;
  width: 40px;
}
.password-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.delete-image {
  height: 20px;
  width: 20px;
}
.delete-button {
  background-color: transparent;
  border: none;
  margin-left: 25px;
}
